@media (max-width: 576px) {
    .description{
        visibility: hidden;
        display: none;
    }
}

body{
    font-family: 'Abril Fatface', cursive;
    margin-left: 1rem;
    margin-right: 1rem;
}

header{
    background-image: url('../img/Perfil.jpg');
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100%;
}

.titulo-hero{
    position: absolute;
    top: 75%;
    left: 10%;
    color: cornflowerblue;
}

.carousel-indicators {
    top: 300px;
}  
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

footer i {
    margin: 0 0.25em 0.5em 0.25em;
}
footer {
    padding: 3.125rem;
}
.oscuro {
    background: #000f08;
    color: #ffffff;
}
.oscuro a{
    color: #ffffff;
    text-decoration: none;
}

